<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>826997550993-6npp33kbq36r1g9h7lo5i6c2cjdqcg99.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.826997550993-6npp33kbq36r1g9h7lo5i6c2cjdqcg99</string>
	<key>API_KEY</key>
	<string>AIzaSyDa2Am_NkfVtgfi4OGq1Wpz_RVpP_-B3hc</string>
	<key>GCM_SENDER_ID</key>
	<string>826997550993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tc2007b.Marco</string>
	<key>PROJECT_ID</key>
	<string>museomarco-db6f3</string>
	<key>STORAGE_BUCKET</key>
	<string>museomarco-db6f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:826997550993:ios:ce8afffce6248c8072f430</string>
</dict>
</plist>